<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
        {{#if showTests}}
            <link rel="stylesheet" href="/vendor/mocha.css">
        {{/if}}
        <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="Meadowlar Travel Logo" class="logo"><br>
            <a href="/" id="home">Home</a>
            <a href="/about" id="about">About</a><br>
        </header>
        {{{body}}}

        <!-- Tests -->
        {{#if showTests}}
            <div id="mocha"></div>
            <script src="/vendor/mocha.js"></script>
            <script src="/vendor/chai.js"></script>
            <script>
                mocha.ui('tdd');
                var assert = chai.assert;
            </script>
            <script src="/qa/tests-global.js"></script>
            {{#if pageTestScript}}
                <script src="{{pageTestScript}}"></script>
            {{/if}}
            <script>mocha.run();</script>
        {{/if}}
    </body>
</html>