<!DOCTYPE html>
<html>
    <head>
        <title>Meadowlark Travel</title>
    </head>
    <body>
        <header>
            <img src="/img/logo.png" alt="Meadowlar Travel Logo">
        </header>
        <a href="/">Home</a> - <a href="/about">About</a><br>
        {{{body}}}
    </body>
</html>